extends sudo_layout

block content
    h3 Preview
        
    div Year:#{obj.year} month #{obj.month}
    div Horoscope:  #{obj.horoscope}
    div Description: #{obj.description}
    br
    div Author:  #{obj.author}
    
    
    
    
