extends sudo_layout

block content
  h2 Welcome #{sudo.name}
  br
  br
  
  div.dropdown
    button.btn.btn-primary.dropdown-toggle(type='button', data-toggle='dropdown')
      | Horoscopes &nbsp;
      span.caret
    ul.dropdown-menu
      li
        a(href='#') Monthly
      li
        a(href='#') Yearly
  hr      
  div
    h4 You can add/update information to the database.
    br
    form.form-signin(name="formUpdateHoroscope" method="post", action="/sudo/horoscopes/add" onsubmit="return test()" role="form" data-toggle="validator")
      .form-group
        label(for='formControlInput1') Author
        input#formControlInput1.form-control(type='text' name="name" value=sudo.name disabled)
        input(type="hidden" name="author" value=sudo.name)
      .form-group
        label(for='formControlYear') Select Horoscope
        select#formControlYear.form-control(name="horoscope")
          option(value='') Select a Horoscope
          each sign, i in list
            option #{sign}
      .form-group
        label(for='formControlMonth') Select Month
        select#formControlMonth.form-control(name="month")
          option(value='') Select a Month
          each month, i in months
            option #{month}
      .form-group
        label(for='#yearpicker') Select Year
        div#yearpicker.input-group.date
          input.form-control(type='year' name="year" required)
          span.input-group-addon
            span.glyphicon.glyphicon-calendar
          
      .form-group
        label(for='exampleFormControlTextarea1') Description
        textarea#exampleFormControlTextarea1.form-control(rows='3' name="description" required)
      input.form-control(type='submit', value="Submit")
       
  
